Joshua Feld and Jingyao Wang Wu
University of Rochester 
Covid-19 Data Visualization Project 

add the date class year etc. and push back just to confirm that I can see your changes and whatnot

*Question for now: How does the size of a country impact the shape of its Covid-19 death toll data?*

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
fully_grouped_df = pd.read_csv("full_grouped.csv")

In [3]:
fully_grouped_df.head()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,1/22/2020,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,1/22/2020,Albania,0,0,0,0,0,0,0,Europe
2,1/22/2020,Algeria,0,0,0,0,0,0,0,Africa
3,1/22/2020,Andorra,0,0,0,0,0,0,0,Europe
4,1/22/2020,Angola,0,0,0,0,0,0,0,Africa

In [4]:
fully_grouped_df.shape

(35156, 10)

In [5]:
fully_grouped_df.sort_index(inplace=True)
fully_grouped_df.head()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,1/22/2020,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,1/22/2020,Albania,0,0,0,0,0,0,0,Europe
2,1/22/2020,Algeria,0,0,0,0,0,0,0,Africa
3,1/22/2020,Andorra,0,0,0,0,0,0,0,Europe
4,1/22/2020,Angola,0,0,0,0,0,0,0,Africa

In [6]:
fully_grouped_df.reset_index(inplace=True)

Add column to get size of each country, going to use one constant for size of country since data does not exceed one year of deaths

In [7]:
worldometer_df = pd.read_csv("worldometer_data.csv")

In [8]:
# Do work to take population category and add to fully_grouped_df
worldometer_df.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [9]:
worldometer_df.shape

(209, 16)

In [13]:
countriesGrouped = []
for country in fully_grouped_df["Country/Region"]:
    if country not in countriesGrouped:
        countriesGrouped.append(country)

countriesWorldometer = []
for country in worldometer_df["Country/Region"]:
    if country in countriesGrouped:
        countriesWorldometer.append(country)


print(f"We have {len(countriesGrouped)} different countries in the fully grouped dataset, and {len(countriesWorldometer)} in the worldometer data that are also in the other dataset.")

We have 187 different countries in the fully grouped dataset, and 171 in the worldometer data that are also in the other dataset.

From this (correct if wrong) it looks we have population data from Worldometer for only a few of the countries in the fully grouped dataset. If this wasn't just a side project then I would get the populations elsewhere, however I am fine with just using the 38 we have for this project.

In [35]:
test = countriesWorldometer[0]
print(test)

worldometer_df.loc[worldometer_df["Country/Region"] == test,:]

Brazil

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
1,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas

In [72]:
population_df = pd.DataFrame({"Population":[],
                              "Country/Region":[]}
                              )

for country in countriesWorldometer:
    pop = worldometer_df.loc[worldometer_df["Country/Region"] == country, "Population"].values
    population_df = pd.concat([population_df, pd.DataFrame({"Country/Region": [country], "Population": [pop[0] if len(pop) > 0 else None]})]
                              , ignore_index=True)

population_df

       Population         Country/Region
0    2.127107e+08                 Brazil
1    1.381345e+09                  India
2    1.459409e+08                 Russia
3    5.938157e+07           South Africa
4    1.290662e+08                 Mexico
..            ...                    ...
166  7.285750e+06                   Laos
167  7.200400e+04               Dominica
168  5.323700e+04  Saint Kitts and Nevis
169  5.678000e+04              Greenland
170  5.986820e+05         Western Sahara

[171 rows x 2 columns]

Going to add population_df to the fully grouped df so that we can have population data for the dataset.